[submodule "components/esp_tinyusb_audio"]
	path = components/esp_tinyusb_audio
	url = https://github.com/jahasu/esp_tinyusb_audio
[submodule "components/esp32_testing"]
	path = components/esp32_testing
	url = https://github.com/jahasu/esp32_testing
